src/main/resources/xsd/TOPIC_JMACCPUB.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.raiffeisen.ru/Srv.Account.Publ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SrvAccountPublEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="event"/>
                <xs:element type="xs:string" name="eventDateTime"/>
                <xs:element name="tAccountNumber">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="fmaNumber"/>
                            <xs:element type="xs:string" name="rmaNumber" minOccurs="0"/>
                            <xs:element type="xs:string" name="cbaNumber" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="customerNumber"/>
                <xs:element type="xs:string" name="branch"/>
                <xs:element type="xs:string" name="currency"/>
                <xs:element type="xs:string" name="acod"/>
                <xs:element type="xs:string" name="acsq"/>
                <xs:element type="xs:string" name="accountType"/>
                <xs:element type="xs:date" name="openDate"/>
                <xs:element type="xs:date" name="closeDate" minOccurs="0"/>
                <xs:element type="xs:string" name="status"/>
                <xs:element type="xs:string" name="isInactive" minOccurs="0"/>
                <xs:element type="xs:string" name="isBlockDebet" minOccurs="0"/>
                <xs:element type="xs:string" name="isBlockCredit" minOccurs="0"/>
                <xs:element type="xs:string" name="isReferDebet" minOccurs="0"/>
                <xs:element type="xs:string" name="isReferCredit" minOccurs="0"/>
                <xs:element type="xs:long" name="minBalance" minOccurs="0"/>
                <xs:element type="xs:string" name="StatFreq" minOccurs="0"/>
                <xs:element type="xs:string" name="IntCalcTypeCr" minOccurs="0"/>
                <xs:element type="xs:string" name="IntCalcSubtCr" minOccurs="0"/>
                <xs:element type="xs:string" name="institCode" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
